.card {
  width: 451px;
  height: 279px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 12px 35px 0 rgba(0, 0, 0, 0.35);
}

.card__image {
  width: 183px;
  /* height: 100%; */
}

.card__image img {
  max-width: 100%;
  height: auto;
  /* height: 100%; */
  /* flex-shrink: 0; */
}

.card_description {
  /* padding: 12px 20px 50px; */
  flex-shrink: 1;
}

.card__title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  /* padding-bottom: 7px; */
}

.card__date {
  margin: 0;
  display: block;
  color: #827e7e;
  font-size: 12px;
  line-height: 22px;
  padding-bottom: 7px;
}

.genres-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-bottom: 7px;
  gap: 8px;
}

.genres-list__item {
  height: 20px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  line-height: normal;
  padding: 0 4px 0 5px;
}

.card__overview {
  font-size: 12px;
  line-height: 22px;
}